.user-info {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 999;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.panel {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.show {
    opacity: 1;
    max-height: 500px;
}

.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--winter-gradient);
    width: 68px;
    height: 68px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
}

.user-icon:hover {
    box-shadow: var(--sm-shadow);
}

.confirm-btn {
    width: 52px;
    border: none;
    outline: none;
    padding: 8px;
    font-family: var(--font-family);
    background-color: var(--primary-blue);
    color: #ffff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.confirm-btn:hover {
    box-shadow: var(--sm-shadow);
}

.confirm-toast {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff99;
    border-radius: 26px;
    padding: 16px;
    text-align: center;
}

.toast-buttons {
    margin-top: 24px; 
    display: flex; 
    gap: 12px; 
    justify-content: "space-evenly";
    background-color: var(--winter-gradient);
}